*,
html,
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.container{
width: 100%;
max-width: 1170px;
margin: 0 auto;
}

nav{
  display: flex;
  text-align: center;
  justify-content: space-between;

}

.header-section{
  display: flex;
  gap: 20px;
}

.header-nav{
  padding-right: 10px;
}

.navigation-bar{
  text-decoration: none;
}
