*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

.container {
  width: 100%;
  max-width: 1170px;
  overflow: hidden;
  margin: 0 auto;
}

/* nav style start */
nav {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.left-header {
  display: inline-flex;
  gap: 20px;
  padding: 10px 0;
}

.title-logo {
  width: 100%;
  max-width: 48px;
}

.header-title {
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
}

.chng-color {
  color: #ff5400;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
}

.right-header {
  display: inline-flex;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  gap: 44px;
}

.menu-img {
  display: none;
}

.menu {
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 400;
}

.home-style {
  color: #ff5400;
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 700;
}

/* nav styles end  */

/* banner styles added */
.banner-container {
  background-image: url('../resources/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 60px;
  border-radius: 16px;
}

.banner {
  width: 100%;
  max-width: 1170px;
  height: auto;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
  border-radius: 16px;
}

.banner-title {
  display: block;
  justify-content: center;
  text-align: center;
  padding: 106px 287px 20px 287px;
}

.banner-heading {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-weight: 800;
}

.banner-para {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.banner-input {
  display: inline-flex;
  padding: 16px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  margin: 48px 108px 106px 217px;
}

.banner-inp {
  width: 100%;
  max-width: 174px;
  height: 52px;
  padding: 10px;
  border-radius: 8px;
  background: #fff;
  border: none;
}

.btn-primary {
  width: 100%;
  max-width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding: 14px 35px;
}

.input-container {
    position: relative;
    display: inline-block;
}

.banner-inp {
    padding-right: 30px;
}

.arrow-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: auto;
}

.banner-btn {
    position: relative;
    display: inline-block;
}

.btn-primary {
    padding-right: 30px;
    position: relative;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: auto;
}



/* banner style end */

/* Popular Section Style Start */

.popular-container {
  display: flex;
  justify-content: space-between;
  gap: 53px;
  margin-top: 100px;
}

.popular-title {
  color: #131318;
  text-align: left;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
}

.popular-paragaraph {
  width: 577px;
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 24px 0;
}

.popular-list {
  width: 525px;
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 10px;
}

.popular-heading > ul {
  padding-left: 23px;
}

.popular-image {
  width: 100%;
  max-width: 540px;
  height: 550px;
  border-radius: 16px;
}

/* popular section styles end */

/* destination section styles start */
.destination {
  margin-top: 100px;
}

.destination-title {
  text-align: center;
  margin-top: 100px;
}

.destination-para {
  text-align: center;
  margin: 15px auto;
  margin-bottom: 48px;
}

.first-row-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  padding: 10px;
}

.second-row-img {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: 24px;
  padding: 10px;
}

.third-row-img {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 24px;
  padding: 10px;
}

.img {
  position: relative;
}

.p-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.places-img {
  width: 100%;
  height: 287px;
  border-radius: 16px;
  background: linear-gradient(
    0deg,
    rgba(19, 19, 24, 0.2) 0%,
    rgba(19, 19, 24, 0.2) 100%
  );
}

/* destination section styles end */

/* choose section styles start */

.choose-section {
  margin-top: 100px;
  margin-bottom: 48px;
}

.choose-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 24px;
}

.pick-hotels {
  width: 100%;
  max-width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 40px;
  margin: 0 12px;
}

.services-explain {
  width: 100%;
  max-width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 40px;
  margin: 0 12px;
}

.price-guarantee {
  width: 100%;
  max-width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  padding: 40px;
  margin: 24px 301px;
}

.card-logo {
  width: 100%;
  max-width: 64px;
  height: 64px;
}

.card-title {
  color: #131318;
  text-align: left;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
}

.card-details {
  max-width: 486px;
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.time-img {
  width: 100%;
  max-width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}

.time-img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.date,
.people,
.location {
  display: inline-flex;
  gap: 24px;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  line-height: 24px;
  margin-top: 52px;
  margin-left: 50px;
}

.discount-offer {
  width: 100%;
  max-width: 1170px;
  height: 500px;
  border-radius: 16px;
  background-image: url('../resources/discount.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 19px;
  margin-top: 24px;
}

.discount-offer2 {
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  background-image: url('../resources/discount.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 19px;
  margin-top: 24px;
  transform: scaleX(-1);
}

.flip-time {
  transform: scaleX(-1);
}
.discount-offer3 {
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  background-image: url('../resources/discount.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 19px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.location-time {
  width: 100%;
  max-width: 585px;
  margin-left: 510px;
  margin-top: 46px;
  border: 2px solid #fff;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}

.place-name {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
  margin-top: 26px;
  margin-bottom: 16px;
  margin-left: 50px;
}

.place-details {
  max-width: 452px;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
  margin-left: 50px;
}

.place-prices {
  color: #ff5400;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
  margin-left: 50px;
}

.place-btn {
  margin-bottom: 50px;
  margin-left: 50px;
}

.packages-btn {
  width: 210px;
  height: 52px;
  padding: 0 15px;
  margin: 0 500px;
  margin-bottom: 100px;
}

/* choose section styles end */

/* Perfect place section styles start */
.perfect-place {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.perfect-title {
  width: 448px;
  line-height: 60px;
}

.perfect-paragraph {
  width: 532px;
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 24px auto;
}

.perfect-wrapper li {
  width: 518px;
  color: #131318;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 16px;
}

.perfect-wrapper > ul {
  padding-left: 19px;
}

.perfect-video {
  width: 610px;
  height: 424px;
  background-image: url('../resources/bangla.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  position: relative;
}

.vertical-line {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 13px;
  box-sizing: border-box;
  margin-bottom: 11px;
}

.hr-first-side {
  width: 80px;
  height: 4px;
}

.hr-second-side {
  width: 500px;
  height: 4px;
  border-radius: 8px;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #131318 -31.96%,
    rgba(19, 19, 24, 0) 100%
  );
  border-radius: 16px;
  opacity: 0.7;
  z-index: 1;
}

.video-controls {
  position: relative;
  z-index: 2;
}

.video-setting {
  display: flex;
  justify-content: space-between;
}

.video-img {
  display: inline-flex;
  margin: 354px 24px;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.video-img-para {
  color: #f3f3f3;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
}

.video-icons {
  display: inline-flex;
  margin: 354px 24px;
  gap: 12px;
}

.perfect-video-title {
  width: 276px;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 176px auto;
}

/*  Perfect place section styles end */
/* newsletter section styles start */
.divider {
  width: 393px;
  height: 1px;
  margin: 24px 40px;
  opacity: 0.3;
  background: rgba(19, 19, 24, 0.1);
}

.newsletter {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.newsletter-container-left {
  width: 474px;
  height: 422px;
  border-radius: 16px;
  border: 1px solid #ff5400;
}

.newsletter-title {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-top: 40px;
  margin-left: 40px;
}

.newsletter-paragraph {
  width: 350px;
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 15px 40px 24px 40px;
}

.newsletter-input {
  width: 393px;
  height: 52px;
  border-radius: 8px;
  border: none;
  padding: 20px;
  margin: 16px 40px;
  background: rgba(19, 19, 24, 0.05);
}

.input-btn {
  width: 393px;
  height: 52px;
  border-radius: 8px;
  margin: 0 40px;
  padding-left: 138px;
  padding-right: 255px;
}

.newsletter-img {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.newletter-img-title {
  color: #fff;
  font-family: Mulish;
  font-size: 32px;
  font-weight: 800;
  margin-left: 15px;
}

.newletter-img-text {
  background: #ff5400;
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  flex-shrink: 0;
  padding: 20px;
  border-radius: 16px;
  margin: 253px 343px;
}

.newsletter-container-right {
  width: 672px;
  height: 422px;
  background-image: url('../resources/newsletter.png');
  border-radius: 16px;
}

/* newsletter styles end */

/* footer style start */
.footer-img {
  width: 100%;
  max-width: 40px;
  height: 46.673px;
}

.footer-head {
  color: #131318;
  font-size: 32px;
  font-weight: 800;
}

.footer-head-right {
  color: #ff5400;
  font-size: 32px;
  font-weight: 800;
}

.footer-heading {
  display: inline-flex;
  gap: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer-paragraph {
  width: 769px;
  color: #5a5a5d;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 20px 370px;
}

.footer-hr {
  width: 1320px;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
}

.footer-socials {
  width: 100%;
  max-width: 174.322px;
  height: 24px;
  margin: 0 636px;
}

.footer-section {
  width: 100%;
  max-width: 1440px;
  height: 502px;
  background: rgba(19, 19, 24, 0.05);
  margin: 0px 232px;
  border-radius: 16px;
}

.footer-heading {
  margin: 0 591px;
  margin-top: 110px;
}

.footer-divider {
  width: 872px;
  height: 1px;
  margin: 20px auto;
}

.copy-rights {
  color: #131318;
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
  margin: 50px 624px;
}

/* Responsive for small mobile device */
@media screen and (max-width: 576px) {

  .container {
    width: 100%;
    max-width: 335px;
    overflow: hidden;
    margin: 0 auto;
  }

  .left-header {
    gap: 10px;
  }

  .title-logo {
    width: 100%;
    max-width: 28.724px;
    height: 33.516px;
  }

  .header-title,
  .chng-color {
    font-size: 21.543px;
  }

  .right-header {
    display: none;
  }

  .menu-img {
    display: block;
  }

  .banner-container {
    width: 100%;
    max-width: 335px;
    height: 483px;
    margin-top: 18px;
  }

  .banner {
    width: 100%;
    max-width: 335px;
    height: 483px;
  }

  .banner-title {
    padding: 30px;
  }

  .banner-heading {
    font-size: 22px;
  }

  .banner-para {
    font-size: 14px;
  }

  .banner-input {
    flex-direction: column;
    gap: 16px;
    margin: -13px 22px;
    width: 287px;
  }
  .banner-inp {
    max-width: 255px;
    width: 255px;
  }

  .btn-primary {
    max-width: 255px;
    padding: 0 90px;
  }

  .popular-container {
    flex-direction: column;
    margin: 20px auto;
  }

  .popular-title {
    font-size: 20px;
    text-align: center;
    padding-left: 1px;
    overflow: hidden;
  }

  .popular-image {
    width: 335px;
    height: 342px;
    margin: 20px auto;
  }

  .popular-paragaraph {
    width: 335px;
    font-size: 14px;
    margin: 16px 0;
  }

  .popular-list {
    width: 335px;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 12px;
    margin: 0 -5px;
  }

  .popular-heading > ul {
    padding-left: 20px;
  }

  .rectangle-image {
    width: 335px;
    height: 342px;
  }

  .read-more-btn {
    max-width: 174px;
    padding: 0;
  }

  .destination {
    margin-top: -44px;
  }

  .destination-title {
    margin-top: 56px;
  }

  .first-row-img,
  .second-row-img,
  .third-row-img {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .choose-section {
    margin-top: -9px;
  }

  .choose-card-container {
    grid-template-columns: 1fr;
    margin: 0 -10px;
  }

  .price-guarantee {
    margin: 24px auto;
  }

  .pick-hotels,
  .services-explain,
  .price-guarantee {
    width: 335px;
    height: 289px;
  }

  .card-logo {
    max-width: 48px;
    height: 48px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-details {
    font-size: 14px;
    line-height: 24px;
  }

  .discount-offer,
  .discount-offer2,
  .discount-offer3 {
    max-width: 335px;
    height: 500px;
    background-image: url('../resources/discount_img.png');
    object-fit: contain;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 24px auto;
  }

  .discount-offer2 .flip-time {
    transform: scaleX(-1);
  }

  .date,
  .people,
  .location {
    display: inline-grid;
    gap: 5px;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 20px;
    line-height: 10px;
  }

  .location-time {
    width: 303px;
    height: 297px;
    margin-left: -4px;
    margin-top: 164px;
  }

  .place-name {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .place-details {
    max-width: 254px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .place-prices {
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .place-btn {
    max-width: 130px;
    padding: 0;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .packages-btn {
    display: none;
  }

  .perfect-place {
    flex-direction: column;
  }

  .perfect-video {
    width: 335px;
    height: 200px;
  }

  .perfect-video-title {
    margin: 44px auto;
  }

  .video-setting {
    margin: -222px 13px;
    gap: 5px;
  }

  .video-img {
    margin: 361px 12px;
  }

  .perfect-paragraph {
    width: 335px;
    font-size: 14px;
    line-height: 24px;
    padding-left: 12px;
  }
  .perfect-wrapper li {
    width: 335px;
    font-size: 14px;
    margin: 10px -14px;
  }
  .perfect-wrapper > ul {
    padding-left: 87px;
  }

  .see-more-btn {
    margin-left: 65px;
  }

  .newsletter {
    flex-direction: column;
    margin: 24px;
  }
  .newsletter-container-left {
    width: 335px;
    height: 353px;
  }

  .newsletter-title {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .newsletter-paragraph {
    width: 270px;
    margin: 10px 20px;
    font-size: 14px;
    line-height: 24px;
  }

  .divider {
    width: 288px;
    margin: 10px 23px;
  }

  .newsletter-input {
    width: 288px;
    height: 52px;
    margin: 10px 13px;
  }

  .input-btn {
    width: 288px;
    height: 52px;
    padding-left: 88px;
    padding-right: 200px;
    margin: 0px 14px;
  }

  .newsletter-container-right {
    width: 335px;
    height: 300px;
  }
  .newletter-img-text {
    width: 214.023px;
    height: 79.268px;
    transform: rotate(-19.628deg);
    border-radius: 10.569px;
    margin: 191px 118px;
  }

  .newsletter-img {
    font-size: 15.854px;
  }

  .newletter-img-title {
    font-size: 21.138px;
    margin-left: 13px;
  }

  .footer-section {
    width: 380px;
    height: 309px;
    margin: 0px -2px;
    overflow: hidden;
  }

  .footer-heading {
    margin: 0 145px;
    margin-top: 12px;
  }

  .footer-img {
    width: 28.724px;
    height: 33.516px;
    flex-shrink: 0;
  }

  .footer-head,
  .footer-head-right {
    font-size: 21.543px;
  }

  .footer-paragraph {
    width: 287px;
    font-size: 14px;
    margin: 20px 60px;
  }

  .footer-hr {
    display: none;
  }

  .footer-socials {
    margin: 0 109px;
  }

  .footer-divider {
    width: 335px;
    height: 1px;
  }

  .copy-rights {
    font-size: 14px;
    margin: 0 103px;
  }
}

/* responsive for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .left-header {
    display: none;
  }

  .menu-img {
    display: inline-flex;
  }

  .right-header {
    display: none;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 16px;
  }

  .title-logo {
    display: none;
  }

  .menu {
    text-align: left;
    padding: 16px;
    font-size: 20px;
    font-weight: 700;
    color: #131318;
  }

  .banner-title {
    padding: 60px 20px 20px 20px;
  }

  .banner-input {
    margin: 24px 20px 20px 20px;
  }

  .popular-container {
    flex-direction: column;
    align-items: center;
  }

  .popular-title {
    text-align: center;
    margin-bottom: 24px;
  }

  .popular-paragaraph,
  .popular-list {
    width: auto;
    margin: 0 20px;
    text-align: center;
  }

  .destination-title,
  .choose-section,
  .form-container,
  .footer {
    text-align: center;
  }

  .destination-title {
    margin-top: 60px;
  }

  .first-row-img,
  .second-row-img,
  .third-row-img {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
  }

  .choose-card-container {
    grid-template-columns: 1fr;
  }

  .pick-hotels,
  .services-explain,
  .price-guarantee {
    margin: 0 20px 20px 20px;
  }

  .footer-container {
    grid-template-columns: 1fr;
  }
}

/* responsive styles end */
